<h1>Pot 1</h1>
<p>Real Madrid, Atletico Madrid, Barcelona, Bayern Munich, Manchester City, Juventus, Paris Saint-Germain, Lokomotiv Moscow</p>
<br>
<h1>Pot 2</h1>
<p>Benfica, Borussia Dortmund, Manchester United, Napoli, Porto, Roma, Shakhtar Donetsk, Tottenham Hotspur</p>
<br>
<h1>Pot 3</h1>
<p>Dinamo Kiev, PSV Eindhoven, Liverpool, Lyon, Monaco, CSKA Moscow, Schalke, Valencia</p>
<br>
<h1>Pot 4</h1>
<p>AEK Athens, Club Brugge, Galatasaray, Hoffenheim, Inter Milan, Red Star Belgrade, Viktoria Plzen, Young Boys</p>
